@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Lato&family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #050505 0%, #412A72 50%);
}

a {
    text-decoration: none;
    color: #050505;
}

.container {
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
}

.container form .title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
}

.container form .input-box {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.container form .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

.container form .underline:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    right: 0;
}

.container form .underline:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #412A72;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}

.container form .input-box input:focus~.underline:after,
.container form .input-box input:valid~.underline:after {
    transform: scaleX(1);
    transform-origin: left;
}

.container form .button {
    margin: 30px 0 20px 0;
}

.container form .input-box input[type="submit"] {
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    background: #412A72;
    cursor: pointer;
    transition: all 0.3 ease;
    height: 45px;
    align-items: center;
    text-decoration: none;
    margin-bottom: 8px;
    position: relative;
    transition: all 0.5s ease;
}

.container form .input-box input[type="submit"]:hover {
    letter-spacing: 1px;
    background: rgba(86, 12, 170, 0.2);
    color: #412A72;
    border-radius: 10px;
}

.form-group {
    display: flex;
    font-size: 15px;
    gap: 55px;
    padding: 10px 0;
}

.form-group .checkbox {
    display: flex;
    gap: 5px;
}

.register {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 15px;
}

#password-toggle {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
}